.svg-item {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  animation: donutfade 1s;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .svg-item {
    width: 100%;
  }
}

.donut-ring {
  stroke: #ffb946;
}

.donut-segment-2 {
  stroke: #109cf1;
  animation: donut1 3s;
}
.segment-2 {
  fill: #109cf1;
}
.donut-percent {
  animation: donutfadelong 1s;
}

@keyframes donut1 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 87, 13;
  }
}

.donut-text-1 {
  fill: #109cf1;
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.5em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: bold;
}

.donut-data {
  font-size: 0.12em;
  line-height: 1;
  transform: translateY(0.5em);
  text-align: center;
  text-anchor: middle;
  color: #666;
  fill: #666;
  animation: donutfadelong 1s;
}

.container-bg {
  background-color: #fff;
  border-radius: 23px;
  box-shadow: 0px 0px 5px rgba(25, 42, 62, 0.25);
}

.box-dounet-chart {
  height: 17px;
  width: 17px;
  border-radius: 4px;
  background-color: #109cf1;
}

.yellow-bg-dounet-chart {
  background-color: #ffb946;
}
.dounet-chart-text {
  font-size: 12px;
  color: #262835;
}
