.pay-container {
  background-color: #e5e5e5;
  padding: 1rem;
}

.deposit-container {
  background: var(--color-white);
  box-shadow: 0px 0px 5px rgba(25, 42, 62, 0.25);
  border-radius: 13px;
  margin: 0.7rem 0;
}

.deposit-container__button {
  width: 50%;
  margin: auto;
  background: #f2f2f2;
  border-radius: 27px;
  display: flex;
}

.deposit-container__button--1 {
  color: var(--color-white);
  background: var(--color-accent-blue);
  border-radius: 27px;
  flex: 1;
  text-align: center;
  padding: 0.4rem 0;
}

.deposit-container__button--2 {
  color: #ccc;
  flex: 1;
  text-align: center;
  padding: 0.4rem 0;
}

.form-container {
  background: var(--color-white);
  box-shadow: 0px 0px 5px rgba(25, 42, 62, 0.25);
  border-radius: 13px;
}

.form__container--1 {
  padding: 1.2rem;
  border-bottom: 1px solid #000000;
}

.routing__input-container {
  padding: 0.8rem 1.2rem;
}

.form-label {
  font-weight: 600;
  color: var(--color-black);
  font-size: 0.9rem;
}

.form-input {
  background: var(--color-light-grey);
  border: 1px solid #b9b9b9;
  border-radius: 0px;
}

.form-input:focus,
.form-input:active {
  background: var(--color-light-grey);
  box-shadow: none;
  border: 1px solid #b9b9b9;
}

.form-input::placeholder {
  font-size: 0.9rem;
  color: #b9b9b9;
}

.form-input__date::placeholder {
  text-align: center;
}

.price-month-card {
  padding: 1.2rem 1rem 3.9rem 1rem;
}

.label-with-header {
  margin: 0.4rem 0;
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid #d8d8d8;
}

.label-with-header--without-border {
  margin: 0.4rem 0;
  padding: 0.3rem 0.5rem;
}

.label-with-header__1 {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: var(--color-black);
}

.label-with-header__2 {
  font-weight: bold;
  font-size: 2.1rem;
  color: var(--color-accent-blue);
}

.download-pdf-btn {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-accent-blue);
  border-radius: 14px;
  padding: 1rem 3.5rem;
  border: none;
}

.download-pdf-btn:hover,
.download-pdf-btn:focus,
.download-pdf-btn:active {
  box-shadow: none;
  background-color: var(--color-accent-blue);
}

.pay-form-wrapper {
  padding: 2rem 0;
}

.pay__container {
  position: relative;
  width: 50%;
  margin: auto;
}

.pay-form__container {
  padding: 7rem 0 1rem 0;
  background: var(--color-white);
  border: 2px solid #000;
  border-radius: 23px;
  position: relative;
}

.pay-form__step {
  background: #ecedee;
  text-align: center;
  padding-top: 0.4rem;
}

.pay-form__step > span {
  display: inline-block;
  font-weight: 600;
  font-size: 1.1rem;
}

.step__description {
  font-size: 1rem;
  padding: 0.3rem 0;
  color: var(--color-black);
}

.step__download-btn {
  background-color: var(--color-accent-blue);
  border-radius: 11px;
  padding: 0.4rem 2.5rem;
  border: none;
  outline: none;
}

.step__download-btn:focus,
.step__download-btn:hover,
.step__download-btn:active {
  outline: none;
  box-shadow: none;
  background-color: var(--color-accent-blue);
}

.step__select-file-btn {
  color: #a5a5a5;
  background-color: #ecedee;
  border: 1px dashed #b6b6b6;
  box-sizing: border-box;
  border-radius: 11px;
  padding: 0.7rem 3.2rem;
}

.step__select-file-btn:focus,
.step__select-file-btn:hover,
.step__select-file-btn:active {
  outline: none;
  box-shadow: none;
  background: #ecedee;
}

.border-dashed {
  padding-top: 1rem;
  text-align: center;
  border-top: 1px dashed rgba(16, 156, 241, 0.32);
}

.step__submit-form-btn {
  color: var(--color-white);
  background-color: var(--color-accent-blue);
  border: 1px dashed var(--color-accent-blue);
  box-sizing: border-box;
  border-radius: 11px;
  padding: 0.4rem 5rem;
}

.step__submit-form-btn:focus,
.step__submit-form-btn:hover,
.step__submit-form-btn:active {
  outline: none;
  box-shadow: none;
  background-color: var(--color-accent-blue);
}

.pay-card {
  width: 320px;
  height: 184px;
  background: var(--color-white);
  border: 2px solid #000000;
  border-radius: 23px;
}

.pay-table__container {
  background: var(--color-white);
  box-shadow: 0px 0px 5px rgba(25, 42, 62, 0.25);
  border-radius: 11px;

  &__header {
    background: #b7e1fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.3rem;

    & > h6 {
      color: var(--color-black);
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

.pay-table {
  width: 100%;
  border-collapse: collapse;

  th {
    background-color: #f2f2f2;

    color: #515151;
    font-size: 12px;
    font-weight: 600;
    padding: 0.3rem 0.8rem;
    border: 1px solid #d7d7d7;
  }

  td {
    font-size: 12px;
    padding: 0.3rem 0.8rem;
    border: 1px solid #d7d7d7;
  }

  td,
  th {
    &:last-child {
      text-align: center;
    }
  }

  tr {
    background: var(--color-white);
  }

  tr:hover {
    cursor: pointer;
    background-color: rgba(16, 156, 241, 0.09);
  }

  &__pdf-icon {
    height: 22px;
    width: 22px;
  }
}

.single-number-input {
  width: 10%;
  font-size: 1.6rem;

  background-color: #eaeaea;
  border: 2px solid #b9b9af;
  &::placeholder {
    text-align: center;
  }
}

.picker,
.date-day,
.status-date {
  width: 100%;
}
